.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: #2874f0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}
.button {
    background-color: #008cba; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
/* Assuming you're using Tailwind CSS */
.flex-wrap {
    flex-wrap: nowrap; /* This prevents wrapping to the next line */
    overflow-x: auto; /* Add horizontal scroll if needed */
}

/* Navbar styles */
.main-navbar {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
}

.brand-name {
    color: #ffffff;
    font-size: 24px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="search"] {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.search-form button {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    margin-left: 10px;
}

.navbar-toggler {
    color: #ffffff;
    border: none;
}

/* Adjustments for smaller screens */
@media (max-width: 991.98px) {
    .top-navbar {
        flex-direction: column;
    }

    .col-md-5 {
        margin-top: 10px;
    }
}
