{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{%static 'static\css\product.css'%}">
<div class="row">
    {% for product in products %}
        {% if product.images %}
            <div class="col-md-3"> <!-- Adjust number of columns for different screen sizes -->
                <div class="product-container">
                    <a href="{% url 'editproduct' product.slug product.id %}">
                        <img class="product-image img-fluid" src="{{ product.images.url }}" alt="Image of {{ product.title }}">
                        <div class="product-details">
                            <h1 class="fw-bold" style="font-size: 1.2em;">{{ product.title }}</h1> <!-- Adjusting font size for title -->
                            <p class="mb-0 des">{{ product.description }}</p>
                            <p class="font-italic">${{ product.get_display_price }}</p> <!-- Applying italic style to price -->
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
        {% empty %}
        <span class="text-center alert alert-danger">No product found</span>
    {% endfor %}
</div>
{%endblock%}